body {
  background-color: $body-color;
  overflow-x: hidden;
}

::selection {
  background: lighten($color: $primary-color, $amount: 10);
  color: $white;
}

/* preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $rareorange;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;

  &:focus {
    outline: 0;
  }
}

a:hover {
  color: $primary-color;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;

  &-sm {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.border-primary {
  border-color: $border-color !important;
}

.button {
    position: absolute;
    margin-top: 100px;
    border-style: solid;
    border-width: 5px 5px 8px;
    border-color: #000;
    background-color: #fff;
    font-family: Gliker, sans-serif;
    color: #000;
}

.btn {
    //position: absolute;
    //margin-top: 100px;
    border-style: solid;
    border-width: 5px 5px 8px !important;
    border-color: #000 !important;
    background-color: #fff;
    font-family: Gliker, sans-serif !important;
    color: #000;
}

/* overlay */

.overlay {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $black;
    opacity: .5;
  }
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: $primary-color !important;
}

.bg-gradient {
  background: $primary-gradient !important;
}

.heading {
    position: relative;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    margin-top: 40px;
    border-bottom: 4px none #000;
    font-family: Gliker, sans-serif;
    color: #fc5e5e;
    font-size: 110px;
    font-weight: 900;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, 0 -3px 0 #000, 3px 0 0 #000, -3px 0 0 #000, 0 11px 0 #000;
}

.hover-shadow {
  transition: .2s ease;

  &:hover {
    box-shadow: 0 8px 10px rgba(33, 33, 33, .2) !important;
  }
}

.text-primary {
  color: $primary-color !important;
}

.text-color {
  color: $text-color;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.zindex-1 {
  z-index: 1;
}

.top-100 {
  top: 100px;
}

.overflow-hidden {
  overflow: hidden;
}

.font-weight-medium {
  font-weight: 500 !important;
}

.border-primary {
  border-color: $primary-color !important;
}

/* form control */
.form-control {
  height: 50px;
  border: 1px solid $primary-color;
  &:focus{
    outline: 0;
    box-shadow: none;
    border-color: $primary-color;
  }
}

textarea.form-control {
  height: 100px;
}

.badge-primary {
  background: $primary-color;
}

/* nav-tab */
.nav-tabs {
  margin-bottom: 20px;
  .nav-item {
    margin-right: 10px;

    .nav-link {
      /*border: 0;
      padding: 10px 0;
      color: $text-color;
      font-weight: 500;
      &.active{
        color: $primary-color;*/
      -webkit-transition: color 200ms ease;
      transition: color 200ms ease;
      font-family: Gliker, sans-serif !important;
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
      text-decoration: none;
      text-transform: none;

    }
  }
}

.navbar > .navbar-brand > .img-fluid {
    max-height : 10%;
    max-width : 10%;
}

.nav-link {
  /*border: 0;
  padding: 10px 0;
  color: $text-color;
  font-weight: 500;
  &.active{
    color: $primary-color;*/
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Gliker, sans-serif !important;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  text-transform: none;
  color: #000 !important;
}

.card > img {
    max-width: 20%;
    max-height: 20%;
}

.subheader-a {
  font-family: Gliker, sans-serif;
  color: #000;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0em;
}

web3 > div {
    background: $white;
    border-color: $black;
    border-width: 10px 10px 20px;
    box-shadow: 0 1px 30px 0 rgba(26, 12, 54 , 0.25);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    max-width: 50%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: 45px;
    padding: 10px;

}

web3 p {
    margin-top: 20px;
    font-family: Gliker, sans-serif !important;
    color: #000;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

web3 .comment {
    margin-top: 20px;
    font-family: Inter, sans-serif !important;
    color: #000;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

web3 .balance {
    margin-top: 20px;
    font-family: Gliker, sans-serif !important;
    color: #000;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
}
